# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Airflow
airflow.cfg
airflow.db
logs/
airflow-webserver.pid
webserver_config.py

# Project specific
data/*.json
!data/.gitkeep

# direnv
.envrc

# data samples
data_samples/
